.sideBar {
  padding: 20px 0 26px;

  .line {
    width: 100%;
    height: 1px;
    background-color: rgba(22, 24, 35, 0.12);
  }

  .login {
    padding: 20px 0 24px 8px;

    .des {
      color: rgba(22, 24, 35, 0.5);
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 20px;
    }

    .btnLogin {
      font-family: SofiaPro, PingFangSC, sans-serif;
      font-size: 18px;
      line-height: 25px;
      font-weight: 600;
      width: 100%;
      min-width: 168px;
      min-height: 48px;
    }
  }

  .title {
    padding-top: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.75);
    font-family: 'ProximaNova', sans-serif;
    font-weight: 600;
  }
}

.recommendedAccount {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.hashtag {
  padding: 16px 8px 8px 8px;

  .titleHashtag {
    padding-bottom: 16px;
    color: rgba(22, 24, 35, 0.75);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 16px;
  }
}

.footer {
  padding: 16px 8px 8px 8px;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
