.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1150px;
  max-width: 100%;
  display: flex;

  .sidebar {
    width: 348px;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
  }

  .content {
    position: relative;
    min-height: 2000px;
    margin-left: 350px;
  }
}
